<!-- Made by eeex.ru — 2021 -->
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Предоставление услуг юриста в Самаре и области</title>
        <meta name="description" content="Услуги квалифицированных адвокатов от МПЦ «Ваше Право» по доступным ценам под ключ. Помощь профессиональных юристов в Самаре, Тольятти и Самарской области">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.min.css">

        <link rel="icon" type="image/svg+xml" href="/favicon.svg">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap" rel="stylesheet"> 

        <link rel="preload" as="image" href="img/hero.png"/>
    </head>