<footer class="footer">
    <div class="footer__wrapper">
        <!--TODO: Redo this? -->
        <a class="footer__a" href="/"><img class="footer__img" src="img/logo.svg" alt="" loading=lazy></a>
        <a class="footer__a footer__a--policy">© 2020-2021 все права защищены</a>
        <a class="footer__a footer__a--flex"><img class="footer__icon" src="img/phone.svg" alt="" loading=lazy>+7 (927) 720-57-74</a>
        <a class="footer__a footer__a--flex"><img class="footer__icon" src="img/mail.svg" alt="" loading=lazy>centerright@mail.ru</a>
        <a class="footer__a footer__a--flex footer__a--address"><img class="footer__icon" src="img/location.svg" alt="" loading=lazy>ул. Ерошевского 3а, офис 4 (этаж 2), 443086 Самара, Россия</a>
        
        <a class="footer__a footer__a--2-col" href="https://mpc163.ru/o-nas/">О нас</a>
        <a class="footer__a footer__a--2-col" href="https://mpc163.ru/tseny/">Цены</a>
        <a class="footer__a footer__a--2-col" href="https://mpc163.ru/rasschitat-stoimost-yuridicheskikh-uslug/">Расчёт стоимости</a>
        <a class="footer__a footer__a--2-col" href="https://mpc163.ru/novosti/">Новости</a>
        <a class="footer__a footer__a--2-col" href="https://mpc163.ru/nasha-komanda/">Наша команда</a>
        <a class="footer__a footer__a--2-col" href="https://mpc163.ru/otzyvy/">Отзывы</a>
        <a class="footer__a footer__a--2-col" href="https://mpc163.ru/kontakty/">Контакты</a>
        <a class="footer__a footer__a--2-col" href="https://mpc163.ru/karta-sayta/">Карта сайта</a>
        
        <a class="footer__a footer__a--3-col" href="https://mpc163.ru/uslugi/fizicheskim-litsam/">Физическим лицам</a>
        <a class="footer__a footer__a--3-col" href="https://mpc163.ru/uslugi/yuridicheskim-litsam/">Юридическим лицам</a>
        <a class="footer__a footer__a--3-col" href="https://mpc163.ru/uslugi/arbitrazhnyy-protsess/">Арбитражный процесс</a>
        <a class="footer__a footer__a--3-col" href="https://mpc163.ru/uslugi/operatsii-s-nedvizhimostyu/">Операции с недвижимостью</a>
        
        <a class="footer__a footer__a--4-col" href="https://mpc163.ru/uslugi/ugolovnyy-protsess/">Уголовный процесс</a>
        <a class="footer__a footer__a--4-col" href="https://mpc163.ru/uslugi/administrativnoe-proizvodstvo/">Административное производство</a>
        <a class="footer__a footer__a--4-col" href="https://mpc163.ru/uslugi/yarkie-dela/">Яркие дела</a>
        <a class="footer__a footer__a--4-col" href="https://mpc163.ru/uslugi/besplatnye-konsultatsii/">Бесплатные консультации</a>
    </div>
</footer>