<header class="header">
    <div class="header__wrapper">
        <a class="header__a" href="/"><img class="header__img" src="img/logo.svg" alt="Логотип правового центра &quot;Ваше право&quot;"></a>
        <div class="header__contact header__contact--pushed-to-right">
            <h1 class="header__h1">+7 (927) 720-57-74</h1>
            <p class="header__p">ПН - ПТ, 9:00 - 12:00</p>
        </div>
        <div class="header__contact">
            <h1 class="header__h1">centerright@mail.ru</h1>
            <p class="header__p">Для любых обращений</p>
        </div>
        <button class="header__button button">
            <span class="button__span">Получить консультацию</span>
        </button>
        <input class="header__menu-button" type="image" src="img/menu.svg" alt="Кнопка открытия/закрытия меню" draggable="false">
    </div>
</header>