<nav class="nav">
    <div class="nav__wrapper">
        <a class="nav__a" href="https://mpc163.ru/o-nas/">О Нас</a>
        <div class="nav__dropdown dropdown">
            <a class="dropdown__a-fake" href="services"></a>
            Услуги
            <img class="nav__img" src="img/arrow--down.svg" alt="" loading="lazy">
            <nav class="dropdown__nav">
                <a class="dropdown__a" href="https://mpc163.ru/uslugi/fizicheskim-litsam/">Физические лица</a>
                <a class="dropdown__a" href="https://mpc163.ru/uslugi/yuridicheskim-litsam/">Юридические лица</a>
                <a class="dropdown__a" href="https://mpc163.ru/uslugi/arbitrazhnyy-protsess/">Арбитражный процесс</a>
                <a class="dropdown__a" href="https://mpc163.ru/uslugi/operatsii-s-nedvizhimostyu/">Недвижимость и операции с ней</a>
                <a class="dropdown__a" href="https://mpc163.ru/uslugi/ugolovnyy-protsess/">Уголовный процесс</a>
                <a class="dropdown__a" href="https://mpc163.ru/uslugi/administrativnoe-proizvodstvo/">Административное производство</a>
            </nav>
        </div>
        <a class="nav__a" href="https://mpc163.ru/tseny/">Стоимость</a>
        <a class="nav__a" href="https://mpc163.ru/nasha-komanda/">Наша команда</a>
        <a class="nav__a" href="https://mpc163.ru/uslugi/yarkie-dela/">Практика</a>
        <a class="nav__a" href="https://mpc163.ru/kontakty/">Контакты</a>
        <div class="nav__decoration"></div>
    </div>
</nav>