<section class="assurance">
    <div class="assurance__wrapper">
        <h1 class="assurance__h1">Многофункциональный правовой центр <br class="assurance__br">«Ваше Право» более 7 лет <span class="assurance__span">предоставляет <br class="assurance__br">профессиональные юридические услуги</span></h1>
        <div class="assurance__wrapper-inner">
            <h2 class="assurance__h2">Работаем с более чем 7 регионами</h2>
            <p class="assurance__p">Самара, Тольятти, Саратов, Сызрань, Новокуйбышевск, Жигулёвское, Кинель и другие</p>
            <img class="assurance__decoration" src="img/map.svg" alt="Карта России" loading=lazy>
        </div>
    </div>
</section>