<section class="advantages">
    <div class="advantages__wrapper">
        <h1 class="advantages__h1">Преимущества</h1>
        <div class="advantages__wrapper-inner">
            <div class="advantages__advantage advantage">
                <img class="advantage__img" src="img/cube.svg" alt="" loading=lazy>
                <h1 class="advantage__h1">Комплексный подход</h1>
                <p class="advantage__p">Каждый юрист специализируется <br class="advantage__br">на своём направлении</p>
            </div>
            <div class="advantages__advantage advantage">
                <img class="advantage__img" src="img/credit-card.svg" alt="" loading=lazy>
                <h1 class="advantage__h1">Фиксированная цена</h1>
                <p class="advantage__p">Стоимость прописывается в договоре <br class="advantage__br">и не изменяется по ходу дела</p>
            </div>
            <div class="advantages__advantage advantage">
                <img class="advantage__img" src="img/book.svg" alt="" loading=lazy>
                <h1 class="advantage__h1">Огромный практический опыт</h1>
                <p class="advantage__p">Позволяет прогнозировать исходвашего <br class="advantage__br">дела и построить выигрышную стратегию</p>
            </div>
            <div class="advantages__advantage advantage">
                <img class="advantage__img" src="img/bolt.svg" alt="" loading=lazy>
                <h1 class="advantage__h1">Оперативно реагируем</h1>
                <p class="advantage__p">Приступаем к работе сразу. Выезжаем <br class="advantage__br">на место происшествия, например, при ДТП</p>
            </div>
            <div class="advantages__advantage advantage">
                <img class="advantage__img advantage__img--last" src="img/lock.svg" alt="" loading=lazy>
                <div class="advantage__wrapper-inner">
                    <h1 class="advantage__h1">Строго конфиденциально</h1>
                    <p class="advantage__p">Соблюдаем юридическую этику и не разглашаем детали вашего дела</p>
                </div>
            </div>
        </div>
        <p class="advantages__p">Стоимость услуг расчитывается индвидуально и зависит <br class="advantages__br">от формата требующейся юридической поддержки, ситуации <br class="advantages__br">в целом и имеющихся документов (доказательств)</p>
    </div>
</section>