<section class="learn">
    <div class="learn__wrapper">
        <div class="learn__wrapper-inner">
            <h1 class="learn__h1">Узнайте стоимость услуги в пару кликов!</h1>
            <form action="https://mpc163.ru/tseny/">
                <button class="learn__button button">
                    <span class="button__span">Узнать стоимость услуги</span>
                    <img class="button__img" src="img/arrow.svg" alt="" loading=lazy>
                </button>
            </form>
        </div>
        <img class="learn__img" src="img/learn.svg" alt="" loading="lazy">
    </div>
</section>