<section class="team">
                <div class="team__wrapper">
                    <div class="team__wrapper-inner">
                        <h1 class="team__h1">Наша команда</h1>
                        <div class="team__controls">
                            <input class="team__control team__control--left" type="image" src="img/control__left--deactivated.svg" alt="Кнопка перехода влево" draggable="false">
                            <input class="team__control team__control--right" type="image" src="img/control__right.svg" alt="Кнопка перехожа вправо" draggable="false">
                        </div>
                    </div>
                    <div class="team__members">
                        <div class="team__member member">
                            <img class="member__img" src="img/hero.png" alt="Фотография" loading=lazy>
                            <div class="member__text">
                                <h2 class="member__h2">Заместитель Директора</h2>
                                <h1 class="member__h1">Смирнов Александр Валерьевич</h1>
                            </div>
                        </div>
                        <div class="team__member member">
                            <img class="member__img" src="img/hero.png" alt="Фотография" loading=lazy>
                            <div class="member__text">
                                <h2 class="member__h2">Заместитель Директора</h2>
                                <h1 class="member__h1">Смирнов Александр Валерьевич</h1>
                            </div>
                        </div>
                        <div class="team__member member">
                            <img class="member__img" src="img/hero.png" alt="Фотография" loading=lazy>
                            <div class="member__text">
                                <h2 class="member__h2">Заместитель Директора</h2>
                                <h1 class="member__h1">Смирнов Александр Валерьевич</h1>
                            </div>
                        </div>
                        <div class="team__member member">
                            <img class="member__img" src="img/hero.png" alt="Фотография" loading=lazy>
                            <div class="member__text">
                                <h2 class="member__h2">Заместитель Директора</h2>
                                <h1 class="member__h1">Смирнов Александр Валерьевич</h1>
                            </div>
                        </div>
                        <div class="team__member member">
                            <img class="member__img" src="img/hero.png" alt="Фотография" loading=lazy>
                            <div class="member__text">
                                <h2 class="member__h2">Заместитель Директора</h2>
                                <h1 class="member__h1">Смирнов Александр Валерьевич</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </section>