<section class="statistics">
    <div class="statistics__wrapper">
        <div class="statistics__stat">
            <h1 class="statistics__h1">7+</h1>
            <p class="statistics__p">Лет юридической практики</p>
        </div>
        <div class="statistics__stat">
            <h1 class="statistics__h1">5211</h1>
            <p class="statistics__p">Успешных дел на 2021 год.</p>
        </div>
        <div class="statistics__stat">
            <h1 class="statistics__h1">89</h1>
            <p class="statistics__p">Постоянных клиентов</p>
        </div>
        <div class="statistics__stat">
            <h1 class="statistics__h1">10</h1>
            <p class="statistics__p">Профессионалов в команде</p>
        </div>
    </div>
</section>