<section class="sequence">
    <div class="sequence__wrapper">
        <button class="sequence__button button">
            <span class="button__span">Оставить заявку</span>
        </button>
        <div class="sequence__subsequence">
            <h1 class="sequence__h1">1</h1>
            <div class="sequence__decoration"></div>
            <p class="sequence__p">Запись и встреча на консультации</p>
        </div>
        <div class="sequence__subsequence">
            <h1 class="sequence__h1">2</h1>
            <div class="sequence__decoration"></div>
            <p class="sequence__p">Изучаем ситуацию и документы</p>
        </div>
        <div class="sequence__subsequence">
            <h1 class="sequence__h1">3</h1>
            <div class="sequence__decoration"></div>
            <p class="sequence__p">Определяем, чем можем помочь</p>
        </div>
        <div class="sequence__subsequence">
            <h1 class="sequence__h1">4</h1>
            <div class="sequence__decoration"></div>
            <p class="sequence__p">Погружаемся в проблему</p>
        </div>
        <div class="sequence__subsequence">
            <h1 class="sequence__h1">5</h1>
            <div class="sequence__decoration"></div>
            <p class="sequence__p">Составляем первичные документы</p>
        </div>
        <div class="sequence__subsequence">
            <h1 class="sequence__h1">6</h1>
            <div class="sequence__decoration"></div>
            <p class="sequence__p">Отправляем документы в органы гос. власти</p>
        </div>
        <div class="sequence__subsequence">
            <h1 class="sequence__h1">7</h1>
            <div class="sequence__decoration"></div>
            <p class="sequence__p">Защищаем ваши права в суде</p>
        </div>
    </div>
</section>