<section class="portfolio">
    <div class="portfolio__wrapper">
        <div class="portfolio__wrapper-inner">
            <h1 class="portfolio__h1">Практика</h1>
            <div class="portfolio__controls">
                <input class="portfolio__control portfolio__control--left" type="image" src="img/control__left--deactivated.svg" alt="Кнопка перехода влево" draggable="false">
                <input class="portfolio__control portfolio__control--right" type="image" src="img/control__right.svg" alt="Кнопка перехода вправо" draggable="false">
            </div>
        </div>
        <div class="portfolio__cases">
            <div class="portfolio__case case">
                <h2 class="case__h2">24/03/2021 14:49</h2>
                <h1 class="case__h1">Дело о взыскании убытков в результате ДТП</h1>
                <a class="case__a">Читать подробнее</a>
            </div>
            <div class="portfolio__case case">
                <h2 class="case__h2">24/03/2021 14:49</h2>
                <h1 class="case__h1">Дело о взыскании убытков в результате ДТП</h1>
                <a class="case__a">Читать подробнее</a>
            </div>
            <div class="portfolio__case case">
                <h2 class="case__h2">24/03/2021 14:49</h2>
                <h1 class="case__h1">Дело о взыскании убытков в результате ДТП</h1>
                <a class="case__a">Читать подробнее</a>
            </div>
            <div class="portfolio__case case">
                <h2 class="case__h2">24/03/2021 14:49</h2>
                <h1 class="case__h1">Дело о взыскании убытков в результате ДТП</h1>
                <a class="case__a">Читать подробнее</a>
            </div>
            <div class="portfolio__case case">
                <h2 class="case__h2">24/03/2021 14:49</h2>
                <h1 class="case__h1">Дело о взыскании убытков в результате ДТП</h1>
                <a class="case__a">Читать подробнее</a>
            </div>
            <div class="portfolio__case case">
                <h2 class="case__h2">24/03/2021 14:49</h2>
                <h1 class="case__h1">Дело о взыскании убытков в результате ДТП</h1>
                <a class="case__a">Читать подробнее</a>
            </div>
            <div class="portfolio__case case">
                <h2 class="case__h2">24/03/2021 14:49</h2>
                <h1 class="case__h1">Дело о взыскании убытков в результате ДТП</h1>
                <a class="case__a">Читать подробнее</a>
            </div>
            <div class="portfolio__case case">
                <h2 class="case__h2">24/03/2021 14:49</h2>
                <h1 class="case__h1">Дело о взыскании убытков в результате ДТП</h1>
                <a class="case__a">Читать подробнее</a>
            </div>
        </div>
    </div>
</section>