<section class="hero">
    <div class="hero__wrapper">
        <div class="hero__wrapper-inner">
            <div class="hero__text">
                <h1 class="hero__h1">Юридическая помощь от профессионалов</h1>
                <p class="hero__p">Многофункциональный правовой центр «Ваше Право» оказывает любую юридическую помощь.</p>
            </div>
            <button class="hero__button button">
                <span class="button__span">Посмотреть услуги</span>
                <img class="button__img" src="img/arrow.svg" alt="" loading=lazy>
            </button>
        </div>
        <img class="hero__img" src="img/hero.png" alt="Иллюстрация вступительного блока">
    </div>
</section>