<section class="services">
    <div class="services__wrapper">
        <h1 class="services__h1">Юридические услуги</h1>
        <div class="services__wrapper-inner">
            <a class="services__service" href="https://mpc163.ru/uslugi/fizicheskim-litsam/">
                <img class="services__img" src="img/people.svg" alt="" loading=lazy>
                <p class="services__p">Физические <br class="services__br">лица</p>
                <img class="services__decoration" src="img/arrow--long.svg" alt="" loading=lazy>
            </a>
            <a class="services__service" href="https://mpc163.ru/uslugi/yuridicheskim-litsam/">
                <img class="services__img" src="img/briefcase.svg" alt="">
                <p class="services__p">Юридические <br class="services__br">лица</p>
                <img class="services__decoration" src="img/arrow--long.svg" alt="" loading=lazy>
            </a>
            <a class="services__service" href="https://mpc163.ru/uslugi/arbitrazhnyy-protsess/">
                <img class="services__img" src="img/file.svg" alt="">
                <p class="services__p">Арбитражный <br class="services__br">процесс</p>
                <img class="services__decoration" src="img/arrow--long.svg" alt="" loading=lazy>
            </a>
            <a class="services__service" href="https://mpc163.ru/uslugi/operatsii-s-nedvizhimostyu/">
                <img class="services__img" src="img/house.svg" alt="">
                <p class="services__p">Недвижимость <br class="services__br">и операции с ней</p>
                <img class="services__decoration" src="img/arrow--long.svg" alt="" loading=lazy>
            </a>
            <a class="services__service" href="https://mpc163.ru/uslugi/ugolovnyy-protsess/">
                <img class="services__img" src="img/shield.svg" alt="">
                <p class="services__p">Уголовный <br class="services__br">процесс</p>
                <img class="services__decoration" src="img/arrow--long.svg" alt="" loading=lazy>
            </a>
            <a class="services__service" href="https://mpc163.ru/uslugi/administrativnoe-proizvodstvo/">
                <img class="services__img" src="img/paperplane.svg" alt="">
                <p class="services__p">Административное <br class="services__br">производство</p>
                <img class="services__decoration" src="img/arrow--long.svg" alt="" loading=lazy>
            </a>
        </div>
        <div class="services__affirmation affirmation">
            <p class="affirmation__p">За 6 месяцев мы выиграли более 15 ярких дел</p>
            <a class="affirmation__a" href="https://mpc163.ru/uslugi/yarkie-dela/" target="_blank">Узнать подробнее</a>
        </div>
    </div>
</section>